{% extends "class_attendance/layout.html" %} {% block content %}

<div class="container text-center">
  <div class="d-flex justify-content-between mt-3">
    <h1 class="text-center">Courses</h1>

    <button
      onclick="window.location.href='{% url 'class_attendance:courses-new' university.id %}'"
      type="button"
      class="btn btn-success"
    >
      Create Course
    </button>
  </div>
  <div class="mt-5">
    <ul class="list-group">
      {% for course in courses %}

      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h5 class="text-center">{{ course.label }}</h5>
          <div class="z-1">
            <button
              type="button"
              class="btn btn-secondary"
              onclick="window.location.href='{% url 'class_attendance:school-classes' course.id %}'"
            >
              <i class="bi bi-info-circle"></i>
            </button>

            <button
              type="button"
              class="btn btn-secondary"
              onclick="window.location.href='{% url 'class_attendance:courses-edit' university.id course.id %}'"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
        </div>
        <p>{{ course.year }}</p>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>

{% endblock content %}
