{% extends "class_attendance/layout.html" %} {% load qr_code%} {%block content%}

<div class="container">
  {% if not is_popup %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'class_attendance:universities' %}"
          >{{ university.label }}</a
        >
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'class_attendance:courses' university.id %}">Courses</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'class_attendance:school-classes' course.id %}"
          >{{ course.label }}</a
        >
      </li>
      <li class="breadcrumb-item">
        <a
          href="{% url 'class_attendance:sessions' course.id school_class.id %}"
          >Sessions</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">Session</li>
    </ol>
  </nav>
  {% endif %}
  <div class="d-flex justify-content-between mt-3">
    <div class="d-flex flex-column">
      <div class="d-flex">
        <h2 class="mt-2">
          {{ course.label }} {{school_class.start_time}} -
          {{school_class.end_time}}
        </h2>

        <div class="live-indicator">
          <span class="indicator-breathing"></span>
          <span class="indicator"></span>
        </div>
      </div>

      <h5 class="text-muted">
        Register Your Attendance By Scanning The QR Code!
      </h5>
    </div>

    <div class="d-flex align-items-center">
      <button
        type="button"
        class="btn btn-outline-primary m-2"
        onclick="toggleFullscreen()"
        data-bs-toggle="tooltip"
        data-bs-title="Toggle Fullscreen"
      >
        <i class="bi bi-fullscreen"></i>
      </button>
      {% if not is_popup %}
      <button
        type="button"
        class="btn btn-primary m-2"
        onclick="presentationMode()"
      >
        <i class="bi bi-easel m-2"></i> Presentation Mode
        <span class="badge bg-dark">New</span>
      </button>
      {% endif %}
      <script>
        function toggleFullscreen() {
          if (!document.fullscreenElement) {
            document.documentElement.requestFullscreen().catch((err) => {
              console.error(
                "Error attempting to enable full-screen mode:",
                err
              );
            });
          } else {
            document.exitFullscreen();
          }
        }

        function presentationMode() {
          window.open('{% url 'class_attendance:session-presentation' session.uuid %}?is_popup=true',"_blank",'height=' + screen.height + ',width=' + screen.width);
          window.location.href ='{% url 'class_attendance:session-host' session.uuid %}'
        }
      </script>
    </div>
  </div>

  <div class="row">
    <div class="col-sm d-flex flex-column justify-content-center">
      <img src="{% qr_url_from_text join_url size='m' border=2 %}" 
       alt="join url QR code" />

      <div
        class="text-center fw-bold"
        style="font-size: 3rem; letter-spacing: 0.3rem"
        id="otp-token"
      >
        Loading...
      </div>

      <div class="progress ">
        <div
          id="countdown-progress"
          class="progress-bar progress-bar-striped"
          role="progressbar"
          style="
            width: 100%;
            transition: width 1s ease-in-out, background-color 1s ease-in-out;
          "
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col-sm d-flex flex-column">
      <p class="text-center fw-bold fs-1">
        <span id="count-students">0</span> Students Joined
      </p>

      <ul
        id="students"
        class="list-group overflow-auto"
        style="max-height: 70vh"
      ></ul>
    </div>
  </div>
</div>

<script src="https://unpkg.com/@otplib/preset-browser@^12.0.0/buffer.js"></script>
<script src="https://unpkg.com/@otplib/preset-browser@^12.0.0/index.js"></script>
<script>

  const tooltipTriggerList = document.querySelectorAll(
    '[data-bs-toggle="tooltip"]'
  );
  const tooltipList = [...tooltipTriggerList].map(
    (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
  );

  const toastContainer = document.querySelector('.toast-container') || (() => {
    const container = document.createElement('div');
    container.className = 'toast-container position-fixed top-0 end-0 p-3';
    document.body.appendChild(container);
    return container;
  })();

  function showToast (message) {
    const toastElement = document.createElement('div');
    toastElement.className = 'toast';
    toastElement.setAttribute('role', 'alert');
    toastElement.setAttribute('aria-live', 'assertive');
    toastElement.setAttribute('aria-atomic', 'true');

    toastElement.innerHTML = `
      <div class="toast-header d-flex justify-content-between">
        <small>just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        ${message}
      </div>
    `;
    toastContainer.appendChild(toastElement);

    const toast = new bootstrap.Toast(toastElement, { autohide: true, delay: 10000 });
    toast.show();
  }


  const secret = "{{ session.secret }}";
  const timeStep = {{ otp_interval }};
  otplib.authenticator.options = { step: timeStep };


  let animating = false;

  function animateOTP(finalToken) {
    animating = true;
    const display = document.getElementById('otp-token');
    const animationDuration = 1000;
    const frameInterval = 50;
    const totalFrames = Math.floor(animationDuration / frameInterval);
    let frame = 0;
    const intervalId = setInterval(() => {
      let randomToken = '';
      for (let i = 0; i < finalToken.length; i++) {
        randomToken += Math.floor(Math.random() * 10);
      }
      display.textContent = randomToken;
      frame++;
      if (frame >= totalFrames) {
        clearInterval(intervalId);
        display.textContent = finalToken;
        animating = false;
      }
    }, frameInterval);
  }


  function updateOTP() {
    const epoch = Math.floor(Date.now() / 1000);
    const remaining = timeStep - (epoch % timeStep);

    const token = otplib.authenticator.generate(secret);

    if (!animating) {
      if (remaining === timeStep) {
        animateOTP(token);
      } else {
        document.getElementById('otp-token').textContent = token;
      }
    }

    const progressBar = document.getElementById('countdown-progress');
    const progressPercent = (remaining / timeStep) * 100;
    progressBar.style.width = progressPercent + '%';
    progressBar.setAttribute('aria-valuenow', progressPercent);


    progressBar.classList.remove('bg-success', 'bg-warning', 'bg-danger');
    if (remaining > 6) {
      progressBar.classList.add('bg-success');
    } else if (remaining > 3) {
      progressBar.classList.add('bg-warning');
    } else {
      progressBar.classList.add('bg-danger');
    }
  }


  setInterval(updateOTP, 1000);
  updateOTP();

  function updateStudents() {
    const url = `/api/sessions/{{ session.uuid }}/students`;
    const studentList = document.getElementById("students");

    isPopUp = "{{is_popup}}" === "True"

    let selectedStudents = []

    if (!isPopUp){
        // Preserve previously selected students using a data attribute (here, student.number is assumed as unique)
        selectedStudents = Array.from(studentList.querySelectorAll("li[data-student-id]"))
        .filter(li => li.querySelector("input[type=checkbox]").checked)
        .map(li => li.getAttribute("data-student-id"));
    }

    fetch(url)
      .then(response => response.json())
      .then(data => {
        studentList.innerHTML = "";
        data.students.reverse().forEach(student => {
          let li = document.createElement("li");
          li.classList.add(
            "list-group-item",
            "d-flex",
            "justify-content-between",
            "align-items-center"
          );
          li.setAttribute("data-student-id", student.number);

          let leftSide = document.createElement("div");
          leftSide.classList.add("d-flex", "align-items-center");

          let checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.classList.add("form-check-input", "me-2");

          let span = document.createElement("span");
          span.textContent = student.first_name + " " + student.last_name + " (" + student.number + ")" + " - " + new Date(student.joined_at).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

          if (!isPopUp){
            leftSide.appendChild(checkbox);
          }
          leftSide.appendChild(span);

          let rightSide = document.createElement("div");
          rightSide.classList.add("d-flex");

          // If this student was previously selected, set checkbox checked and the li style accordingly.
          if (selectedStudents.includes(String(student.number))) {
            checkbox.checked = true;
            li.classList.add("list-group-item-success");
          }

          checkbox.addEventListener("change", function() {
            if (this.checked) {
              li.classList.add("list-group-item-success");
            } else {
              li.classList.remove("list-group-item-success");
            }
          });true

          let editNameButton = document.createElement("button");
          editNameButton.textContent = "Edit Name";
          editNameButton.classList.add("btn", "btn-sm", "btn-outline-primary", "me-2");
          editNameButton.addEventListener("click", function() {
            const newName = prompt("Enter new name for student", student.first_name + " " + student.last_name);
            if (newName) {
              fetch(`/api/students/${student.number}`, {
                method: "PATCH",
                headers: {
                  "Content-Type": "application/json"
                },
                body: JSON.stringify({ first_name: newName.split(" ")[0], last_name: newName.split(" ")[1] })
              })
                .then(response => response.json())
                .then(data => {
                  showToast("Student name updated successfully!");
                  updateStudents();
                })
                .catch(error => showToast("Error updating student name"));
            }
          });

          let removeStudentButton = document.createElement("button");
          removeStudentButton.textContent = "Remove";
          removeStudentButton.classList.add("btn", "btn-sm", "btn-outline-danger");
          removeStudentButton.addEventListener("click", function() {
            if (confirm("Are you sure you want to remove this student?")) {
              fetch(`/api/sessions/{{ session.uuid }}/students/${student.number}`, {
                method: "DELETE"
              })
                .then(response => response.json())
                .then(data => {
                  showToast("Student removed successfully!");
                  updateStudents();
                })
                .catch(error => showToast("Error removing student"));
            }
          });

          if (!isPopUp){
            rightSide.appendChild(editNameButton);
            rightSide.appendChild(removeStudentButton);
          }

          li.appendChild(leftSide);
          li.appendChild(rightSide);

          studentList.appendChild(li);
        });

        document.getElementById("count-students").textContent = data.students.length;
      })
      .catch(error => console.error("Error fetching students:", error));
  }

  setInterval(updateStudents, 5000);
  updateStudents();
</script>

<style>
  .live-indicator {
    position: relative;
  }

  .live-indicator span {
    position: absolute;
  }

  .indicator {
    width: 10px;
    height: 10px;
    background-color: green;
    display: block;
    border-radius: 5px;
    top: 7px;
    left: 7px;
  }

  .indicator-breathing {
    display: block;
    width: 24px;
    height: 24px;
    background-color: green;
    opacity: 0.3;
    border-radius: 12px;
    animation: breathing 2s infinite;
  }

  @keyframes breathing {
    0% {
      transform: scale(0);
      opacity: 0.4;
    }
    40% {
      transform: scale(1);
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }

</style>

{% endblock content %}
