{% extends "class_attendance/layout.html" %} {% block content %}

<div class="container">
  <div class="d-flex justify-content-between mt-3">
    <h1 class="text-start">
      Sessions for {{ course.label }}
    </h1>

    <button onclick="createSession()" type="button" class="btn btn-success">
      <i class="bi bi-plus-circle"></i> Start New Session
    </button>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'class_attendance:universities' %}"
          >{{ university.label }}</a
        >
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'class_attendance:courses' university.id %}">Courses</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'class_attendance:school-classes' course.id %}"
          >{{ course.label }}</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">Sessions</li>
    </ol>
  </nav>

  <table class="table mt-3 table-striped table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-start">Open Time</th>
        <th scope="col" class="text-center">Active?</th>
        <th scope="col" class="text-center">Students</th>
        <th scope="col" class="text-center">Opened By</th>
        <th scope="col" class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for session in sessions %}
      <tr
        role="button"
        class="table-row"
        onclick="window.location.href='{% url 'class_attendance:session-presentation' session.uuid %}'"
      >
        <td class="text-start">
          <p>{{ session.open_time }}</p>
        </td>
        <td class="text-center">
          {% if session.is_active %}
          <p>Active</p>
          {% else %}
          <p>Not Active</p>
          {% endif %}
        </td>

        <td class="text-center">
          <p>{{ session.students.count }}</p>
        </td>
        <td class="text-center">
          <p>{{ session.opened_by }}</p>
        </td>
        <td class="text-end">
          <button
            type="button"
            class="btn btn-outline-danger"
            onclick="event.stopPropagation(); confirmDeleteSession('{{ session.uuid }}', '{{ session.open_time }}', '{{ session.students.count }}')"
            data-bs-toggle="tooltip"
            data-bs-title="Delete Session"
          >
            <i class="bi bi-trash"></i>
          </button>

          {% if session.is_active %}
          <button
            type="button"
            class="btn btn-outline-warning"
            onclick="event.stopPropagation(); toggleSessionActive('{{ session.uuid }}')"
            data-bs-toggle="tooltip"
            data-bs-title="Close Session"
          >
            <i class="bi bi-x-circle"></i>

            <span>Close</span>
          </button>

          {% else %}
          <button
            type="button"
            class="btn btn-outline-success"
            onclick="event.stopPropagation(); toggleSessionActive('{{ session.uuid }}')"
            data-bs-toggle="tooltip"
            data-bs-title="Start Session"
          >
            <i class="bi bi-play-circle"></i>
            <span>Open</span>
          </button>
          {% endif %}
          
          {% if session.is_active %}
          <button
            type="button"
            class="btn btn-primary"
            style="min-width: 200px;"
            onclick="event.stopPropagation(); window.location.href='{% url 'class_attendance:session-presentation' session.uuid %}'"
            data-bs-toggle="tooltip"
            data-bs-title="Start Presentation Mode"
          >
            <i class="bi bi-play-circle"></i>
            <span>Presentation</span>
          </button>

          {% else %}

          <button
            type="button"
            class="btn btn-primary"
            style="min-width: 200px;"
            onclick="event.stopPropagation(); window.location.href='{% url 'class_attendance:session-presentation' session.uuid %}'"
            data-bs-toggle="tooltip"
            data-bs-title="Show Students List"
          >
            <i class="bi bi-list"></i>
            <span>Show Students List</span>
            
          </button>

          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="deleteSessionModal"
  tabindex="-1"
  aria-labelledby="deleteSessionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteSessionModalLabel">
          Confirm Delete Session
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the session from
        <span id="sessionDateTime"></span> with
        <span id="studentCount"></span> students?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" onclick="deleteSession()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener('pageshow', function(event) {
    // Check if navigating back via browser history (cache)
    if (event.persisted) {
        window.location.reload();
    }
  });


  const tooltipTriggerList = document.querySelectorAll(
    '[data-bs-toggle="tooltip"]'
  );
  const tooltipList = [...tooltipTriggerList].map(
    (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
  );

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function createSession() {
    const url = `/api/courses/{{ course.id }}/school-classes/{{ school_class.id }}/sessions/create`;

    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"),
      },
      body: JSON.stringify({}),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("NOK");
        }
        return response.json();
      })
      .then((data) => {
        if (data.success) {
          alert("Session created successfully!");
          // redirect to the new session
          window
            .location
            .href = `/sessions/${data.session_uuid}/presentation`;
        } else {
          alert("Failed to create session");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("An error occurred.");
      });
  }

  function toggleSessionActive(sessionUuid) {
    const url = `/api/sessions/${sessionUuid}/status`;

    fetch(url, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"),
      },
      body: JSON.stringify({}),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("NOK");
        }
        return response.json();
      })
      .then((data) => {
        if (data.success) {
          location.reload();
        } else {
          alert("Failed to toggle session status");
        }
      })
      .catch((error) => {
        alert("An error occurred.");
      });
  }

  let sessionToDelete = null;
  const deleteModal = new bootstrap.Modal(
    document.getElementById("deleteSessionModal")
  );

  function confirmDeleteSession(sessionUuid, openTime, studentCount) {
    event.stopPropagation();
    sessionToDelete = sessionUuid;
    document.getElementById("sessionDateTime").textContent = openTime;
    document.getElementById("studentCount").textContent = studentCount;
    deleteModal.show();
  }

  function deleteSession() {
    if (!sessionToDelete) return;

    const url = `/api/sessions/${sessionToDelete}/delete`;

    fetch(url, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"),
      },
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("NOK");
        }
        return response.json();
      })
      .then((data) => {
        if (data.success) {
          deleteModal.hide();
          location.reload();
        } else {
          alert("Failed to delete session");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("An error occurred while deleting the session.");
      });
  }
</script>

{% endblock content %}
