<!DOCTYPE html>
{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
<html class="h-100 bg-danger">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Class Ping - Session Closed</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="" />
  </head>
  <body
    class="d-flex flex-column justify-content-center align-items-center h-100 bg-danger"
  >
    <div class="card mb-3" style="width: 18rem">
      <div class="card-header">Ups!</div>
      <div class="card-body">
        <h5 class="card-title">Session Closed</h5>
        <p class="card-text">
          The session you are trying to access is closed. Please contact your
          teacher for further information.
        </p>
      </div>
    </div>
  </body>
</html>
